[submodule "CityNexus.Notifications"]
	path = CityNexus.Notifications
	url = https://github.com/ismael3s/CityNexus.Notifications
	branch = main
[submodule "CityNexus.K8S"]
	path = CityNexus.K8S
	url = https://github.com/ismael3s/CityNexus.K8S
	branch = main
[submodule "CityNexus.Modulith"]
	path = CityNexus.Modulith
	url = https://github.com/ismael3s/CityNexus.Modulith
