[submodule "CityNexus.People"]
	path = CityNexus.People
	url = https://github.com/ismael3s/CityNexus.People
	recurse = true
	branch = main
[submodule "CityNexus.Notifications"]
	path = CityNexus.Notifications
	url = https://github.com/ismael3s/CityNexus.Notifications
	branch = main
